[user]
	name = IanLulu
	email = ilulu2@uic.edu # try out no reply github email for privacy

# [2023.09.30, 15:50 edit (comments. From Fireship dotfiles video)]
# - Set the default editor (nano, VS Code, etc.)
# - Customize color output
# - Create aliases (shortcuts for Git subcommands)
# - Add endpoint shortcuts for commonly used URLs

# git alias to combine git add and commit in one
# save some seconds lol
[alias]
	add-commit = !git add . && git commit # must use single quotes if using -m flag
	# or use git add -A / --all or git add -u
